.line {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20em;
  margin: 0 auto;
  font-size: 180%;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  transform: translate(-50%, -50%);
  animation: typewriter 10s steps(50) 1s 1 normal both;
}
.infinite {
  animation-iteration-count: infinite;
}
@keyframes typewriter {
  0% {
    width: 0;
    opacity: 1;
  }
  60% {
    width: 20em;
    opacity: 1;
  }
  95% {
    width: 20em;
    opacity: 1;
  }
  100% {
    width: 20em;
    opacity: 0;
  }
}
