<br>
<br>CONGRATULATIONS!

<br>
<br> Now you can see the widget itself

<br>

<button (click)="togglePreview()">{{ preview ? "Hide widget" : "Show Widget" }}</button>

<div class="widget-wrapper" *ngIf="preview">
    <widget [reviews]="demo_reviews"></widget>
</div>

<br> Alternative version of the same widget written on JS with jQuery is here:
<a href="http://jsfiddle.net/69v70f2n/" target="_blank">http://jsfiddle.net/69v70f2n/</a>
<br> The source is here:
<a href="https://github.com/Omi0/matrix" target="_blank">https://github.com/Omi0/matrix</a>